    <div>
        <img src="/images/equipment.png" class="mx-auto d-block" />
        <p>
            Certains équipements ont des émissions constantes peu importe leur utilisation.
        </p>
        <p>
            Par exemple, un bureau administratif ou un système d’éclairage utilisera toujours la même quantité d’énergie par jour ou par mois.
        </p>
        <p>
            Les émissions sont calculées en multipliant la quantité (en tonnes par jour) par la durée de la période à calculer.
        </p>
    </div>