    <div>
        <img src="/images/equipment.png" class="mx-auto d-block" />
        <p>
            Certains équipements ont des émissions linéaires qui sont directement proportionnelles à leur utilisation.
        </p>
        <p>
            Par exemple, un camion produira toujours la même quantité d’émissions par kilomètre parcouru.
        </p>
        <p>
            Les émissions sont calculées en multipliant le facteur de conversion par l’utilisation de l’équipement durant la période.
        </p>
    </div>