<h1 mat-dialog-title>Choisir une periode</h1>
<div mat-dialog-content>

  <div class="row">

    <!-- Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b> -->
    <div *ngIf="hasPeriodes; else noPeriodes">
      <div *ngFor="let groupe of data.periodes  | keyvalue" class="col mb-4">
        <div class="card" style="min-width: 15rem; max-width: 17rem;">
          <div class="card-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item active">{{groupe.key}}</div>
              <div *ngFor="let periode of $any(groupe.value)  ">
                <p class="list-group-item list-group-item-action" (click)="setDate(periode)">{{periode.nom}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noPeriodes>
      <h2>Aucune périodes disponible</h2>
    </ng-template>

  </div>


</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>